<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button mode="ios" color="light" [routerLink]="['/estudiantes-pendientes']">
        Regresar
        <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header color="primary">
            <ion-card-title>Estudiante</ion-card-title>
          </ion-card-header>

        <ion-card-content>
          <form action="" [formGroup]="formularioEstudiante" class="ion-margin-top">
            <ion-row>
              <ion-col>
                <h2>
                  {{this.formularioEstudiante.controls['p_nombre'].value}}
                  {{this.formularioEstudiante.controls['ap_paterno'].value}}
                </h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item >
                  <ion-label position="floating"  class="ion-margin-buttom">Primer nombre:</ion-label>
                  <ion-input formControlName="p_nombre" class="ion-margin-top"></ion-input>
                  <ion-note slot="error" *ngIf="campo('p_nombre',0)?.invalid  && campo('p_nombre',0)?.errors && campo('p_nombre',0)?.errors.required && fueTocado('p_nombre',0)">Obligatorio</ion-note>
                  <ion-note slot="error" *ngIf="campo('p_nombre',0)?.invalid  && campo('p_nombre',0)?.errors && campo('p_nombre',0)?.errors.pattern">Con mayuscula y sin espacios ni caracteres especiales </ion-note>
                  <ion-note slot="error" *ngIf="campo('p_nombre',0)?.invalid  && campo('p_nombre',0)?.errors && campo('p_nombre',0)?.errors.maxlength">Nombre demasiado largo</ion-note>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item >
                  <ion-label position="floating"  class="ion-margin-buttom">Segundo nombre:</ion-label>
                  <ion-input formControlName="s_nombre" class="ion-margin-top"></ion-input>
                  <ion-note slot="error" *ngIf="campo('s_nombre',0)?.invalid  && campo('s_nombre',0)?.errors && campo('s_nombre',0)?.errors.required && fueTocado('s_nombre',0)">Obligatorio</ion-note>
                  <ion-note slot="error" *ngIf="campo('s_nombre',0)?.invalid  && campo('s_nombre',0)?.errors && campo('s_nombre',0)?.errors.pattern">Con mayuscula y sin espacios ni caracteres especiales</ion-note>
                  <ion-note slot="error" *ngIf="campo('s_nombre',0)?.invalid  && campo('s_nombre',0)?.errors && campo('s_nombre',0)?.errors.maxlength">Nombre demasiado largo</ion-note>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item >
                  <ion-label position="floating"  class="ion-margin-buttom">Rut:</ion-label>
                  <ion-input formControlName="rut" class="ion-margin-top"></ion-input>
                  <ion-note slot="error" *ngIf="campo('rut',0)?.invalid  && campo('rut',0)?.errors && campo('rut',0)?.errors.required && fueTocado('rut',0)">Obligatorio</ion-note>
                  <ion-note slot="error" *ngIf="campo('rut',0)?.invalid  && campo('rut',0)?.errors && campo('rut',0)?.errors.pattern">Rut invalido</ion-note>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item >
                  <ion-label position="floating"  class="ion-margin-buttom">Apellido paterno:</ion-label>
                  <ion-input formControlName="ap_paterno" class="ion-margin-top"></ion-input>
                  <ion-note slot="error" *ngIf="campo('ap_paterno',0)?.invalid  && campo('ap_paterno',0)?.errors && campo('ap_paterno',0)?.errors.required && fueTocado('ap_paterno',0)">Obligatorio</ion-note>
                  <ion-note slot="error" *ngIf="campo('ap_paterno',0)?.invalid  && campo('ap_paterno',0)?.errors && campo('ap_paterno',0)?.errors.pattern">Con mayuscula y sin espacios ni caracteres especiales </ion-note>
                  <ion-note slot="error" *ngIf="campo('ap_paterno',0)?.invalid  && campo('ap_paterno',0)?.errors && campo('ap_paterno',0)?.errors.maxlength">Apellido demasiado largo</ion-note>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item >
                  <ion-label position="floating"  class="ion-margin-buttom">Apellido materno:</ion-label>
                  <ion-input formControlName="ap_materno" class="ion-margin-top"></ion-input>
                  <ion-note slot="error" *ngIf="campo('ap_materno',0)?.invalid  && campo('ap_materno',0)?.errors && campo('ap_materno',0)?.errors.required && fueTocado('ap_materno',0)">Obligatorio</ion-note>
                  <ion-note slot="error" *ngIf="campo('ap_materno',0)?.invalid  && campo('ap_materno',0)?.errors && campo('ap_materno',0)?.errors.pattern">Con mayuscula y sin espacios ni caracteres especiales</ion-note>
                  <ion-note slot="error" *ngIf="campo('ap_materno',0)?.invalid  && campo('ap_materno',0)?.errors && campo('ap_materno',0)?.errors.maxlength">Apellido demasiado largo</ion-note>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item >
                  <ion-label position="floating"  class="ion-margin-buttom">Edad:</ion-label>
                  <ion-input type="number" formControlName="edad" class="ion-margin-top"></ion-input>
                  <ion-note slot="error" *ngIf="campo('edad',0)?.invalid  && campo('edad',0)?.errors && campo('edad',0)?.errors.required && fueTocado('edad',0)">Obligatorio</ion-note>
                  <ion-note slot="error" *ngIf="campo('edad',0)?.invalid  && campo('edad',0)?.errors && campo('edad',0)?.errors.min">La edad minima es de 11 años</ion-note>
                  <ion-note slot="error" *ngIf="campo('edad',0)?.invalid  && campo('edad',0)?.errors && campo('edad',0)?.errors.max">La edad maxima es de 20 años</ion-note>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="xs">
                <ion-list>
                  <ion-item>
                    <ion-select  aria-label="Fruit" interface="popover" placeholder="Curso de ingreso" formControlName="curso_ingreso">
                      <ion-select-option [value]="c?.nombre" *ngFor="let c of cursos">{{c?.nombre}}</ion-select-option>
                    </ion-select>
                    <ion-note color="danger" slot="error" slot="end" *ngIf="campo('curso_ingreso',0)?.invalid  && campo('curso_ingreso',0)?.errors && campo('curso_ingreso',0)?.errors.required && fueTocado('curso_ingreso',0)">Obligatorio</ion-note>
                  </ion-item>
                </ion-list>
              </ion-col>
              <ion-col size="xs">
                <ion-list>
                  <ion-item>
                    <ion-select  aria-label="Fruit" interface="popover" placeholder="Genero" formControlName="genero">
                      <ion-select-option [value]="g?.nombre" *ngFor="let g of genero">{{g?.nombre}}</ion-select-option>
                    </ion-select>
                    <ion-note color="danger" slot="error" slot="end" *ngIf="campo('genero',0)?.invalid  && campo('genero',0)?.errors && campo('genero',0)?.errors.required && fueTocado('genero',0)">Obligatorio</ion-note>
                  </ion-item>
                </ion-list>
              </ion-col>
              <ion-col style="display: flex;align-items: center;justify-content: end;" >
                <ion-button (click)="guardar()">
                  Guardar
                  <img  src="../../../assets/icon/disquete.png" alt="" class="icon">
                </ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-card-content>
        <ion-progress-bar *ngIf="progreso" type="indeterminate"></ion-progress-bar>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
