.icon{
 width: 25px;
 margin-left: 5px;
}

ion-radio {
  --border-radius: 4px;
  --inner-border-radius: 4px;

  --color: #ddd;
  --color-checked: #6815ec;
}

ion-radio.ios::part(container) {
  width: 20px;
  height: 20px;

  border: 2px solid #ddd;
  border-radius: 4px;
}

.radio-checked.ios::part(container) {
  border-color: #6815ec;
}

.denegacion-icon{
  width: 30px;
}

ion-list{
  background-color: var(--ion-color-primary);
}

.asistencia-filtro{
  border-radius: 3em;

}

.item-estudiante{
  display: flex;
  align-items: center;
}

.porcentaje{
 background-color: var(--ion-color-primary);
 border-radius: 10em;
 padding: 5px;
 text-align: center;
 border: #ddd solid 1px;
}

.datos-nota{
  border:var(--ion-color-medium) solid 1px;
  border-radius: 5em;
  padding: 5px;
}

.promedio{
  background-color: var(--ion-color-primary);
  border-radius: 10em;
  padding: 5px;
  text-align: center;
  border: #ddd solid 1px;
}
.user-icon{
  width: 30px;
}

.nota-agregar{
  text-align: center;
  font-size: large;
}

.icon-matricula{
  width: 60px;
}

.nombre-dia{
  border: 1px var(--ion-color-primary);

}

.horario-bloque{
  border-left: 6px solid var(--ion-color-primary);
  border-right: 0.5px solid var(--ion-color-medium);

}

.horario-asignatura{
  color: var(--ion-color-primary);
}
.horario-profesor{
  color: var(--ion-color-medium);
}


