.nombre-dia{
  border: 1px var(--ion-color-primary);

}

.horario-bloque{
  border-left: 6px solid var(--ion-color-primary);
  border-right: 0.5px solid var(--ion-color-medium);

}

.horario-asignatura{
  color: var(--ion-color-primary);
}
.horario-profesor{
  color: var(--ion-color-medium);
}
