<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button mode="ios" color="light" [routerLink]="['/inicio']">
        Inicio
        <ion-icon slot="start" name="grid"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header color="primary">
            <ion-row>
              <ion-col>
                <ion-card-title>{{datosEstudiante?.usuario?.p_nombre}} {{datosEstudiante?.usuario?.ap_paterno}}</ion-card-title>

                <ion-card-subtitle>{{datosEstudiante?.usuario?.rut}}</ion-card-subtitle>
              </ion-col>
              <ion-col style="display: flex;align-items: center;justify-content: center;">
                <ion-label>
                  <h2 class="promedio">Promedio {{notas?.promedio}}</h2>
                </ion-label>
              </ion-col>
              <ion-col style="display: flex;align-items: center;justify-content: end;">
                <h4>{{datosEstudiante?.usuario?.curso?.nombre}}</h4>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <ion-row >
              <ion-col>
                <ion-button *ngFor="let n of misAsignaturasData?.detalles_curso" mode="ios" fill="outline" (click)="verNotas(n?.asignatura?.id) " >{{n?.asignatura?.nombre}}</ion-button>
              </ion-col>
              <ion-col style="display: flex;align-items: center; justify-content: center;">

                    <ion-label class="datos-nota">
                      Asignatura {{asignaturaVista}}
                    </ion-label>

                    <ion-label class="datos-nota ion-margin-start">
                      Profesor {{profesorVista}}
                    </ion-label>

              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                    <table class="table table-light">
                      <thead>
                        <tr>
                          <th scope="col">Evaluacion</th>
                          <th class="ion-text-center" scope="col">Nota</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let nt of notas?.notas">
                          <td><ion-label>{{nt?.evaluacion?.nombre}}</ion-label></td>
                          <td class="ion-text-center"><ion-label [color]="nt?.nota >= 4.0 ?'dark': 'danger'">{{nt?.nota}}</ion-label></td>
                        </tr>
                      </tbody>
                    </table>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
