<ion-header [translucent]="true">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" color="">
      <ion-button  mode="ios" fill="clear" color="light" shape="round">
        <ion-icon name="mail" slot="start" color="light"></ion-icon>
        Contacto
      </ion-button>
      <ion-button  mode="ios" fill="clear" color="light" shape="round">
        <ion-icon name="location" slot="start" color="light"></ion-icon>
        Dónde estamos
      </ion-button>
      <ion-button  mode="ios" fill="clear" color="light" shape="round">
        <ion-icon name="people" slot="start" color="light"></ion-icon>
        Nostros
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="solid" mode="ios"   shape="round" class="ingresar" [routerLink]="['/login']">
        <ion-icon name="log-out" slot="end" color="medium"></ion-icon>
        Ingresar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/icon/nuevos_horizontes_h.png" alt="">
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-row>
              <ion-col>
                <ion-card-title>Matriculate</ion-card-title>
                <ion-card-subtitle>Matriculas 2024 abiertas</ion-card-subtitle>
              </ion-col>
              <ion-col class="ion-text-end">
                <ion-button>
                  <ion-icon name="chevron-forward"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

